@page "/bill-of-material"
@rendermode InteractiveServer
@attribute [StreamRendering]
@using System.Timers;
@using BillOfMaterial.Models;
@using Microsoft.Data.Sqlite;

<PageTitle>Bill of Material</PageTitle>

<h1>Bill of Material</h1>

<!--
    Turns out making a modal is fairly involved for Blazor, so for now I am just putting the form above the table view
    https://amarozka.dev/blazor-custom-modal-component/
-->
<h2>Add row:</h2>
<form @onsubmit="SubmitRow" name="add-bom-level">
    <div class="form-group">
        <label for="part-number">Part number:</label>
        <input name="part-number" type="text" class="form-control" @bind-value="FormModel!.PartNumber" />
        <label for="quantity">Quantity:</label>
        <input name="quantity" type="number" step="any" class="form-control" @bind-value="FormModel!.Quantity" />
        <label for="unit">Unit:</label>
        <input name="unit" type="text" class="form-control" @bind-value="FormModel!.Unit" />
        <label for="total-cost">Total cost:</label>
        <input name="total-cost" type="number" step="0.01" class="form-control" @bind-value="FormModel!.TotalCost" />
        <label for="vendor">Vendor:</label>
        <input name="vendor" type="text" class="form-control" @bind-value="FormModel!.Vendor" />
        <label for="type">Type:</label>
        <input name="type" type="text" class="form-control" @bind-value="FormModel!.Type" />
        <label for="cost">Cost:</label>
        <input name="cost" type="number" step="0.01" class="form-control" @bind-value="FormModel!.Cost" />
        <label for="quantity-on-hand">Quantity on hand:</label>
        <input name="quantity-on-hand" type="number" step="any" class="form-control" @bind-value="FormModel!.QuantityOnHand" />
        @* 
            TODO: nesting rows. Is it messy if we just expand recursively when building this?
            Do we pick a reference from a list?
        *@
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<form>
    <div class="form-group">
        <label for="bom-search">Search:</label>
        <input name="bom-search" type="text" class="form-control" @oninput="OnInput" placeholder="@SEARCH_PLACEHOLDER" />
    </div>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Part number</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit</th>
            <th scope="col">Total cost</th>
            <th scope="col">Vendor</th>
            <th scope="col">Type</th>
            <th scope="col">Cost</th>
            <th scope="col">Quantity on hand</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BoMLevel level in _boMLevels)
        {
            <tr>
                <th scope="row">@level.PrimaryKey</th>
                <td>@level.PartNumber</td>
                <td>@level.Quantity</td>
                <td>@level.Unit</td>
                <td>@level.TotalCost</td>
                <td>@level.Vendor</td>
                <td>@level.Type</td>
                <td>@level.Cost</td>
                <td>@level.QuantityOnHand</td>
                <td>
                    <button class="btn btn-danger" @onclick="async () => await DeleteRow(level.PrimaryKey)">X</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@*
    In a real world scenario I probably wouldn't want to open a DB connection directly in the browser.
    That could expose credentials, or maybe allow some hijinks to happen directly in the browser console.
    Not sure how that all works with WASM, but that's what the JS dev in me says.
    Instead I'd want API's that take some form of authentication such as a Cookie or JWT token.

    Takes inspiration from https://blog.jeremylikness.com/blog/an-easier-blazor-debounce/,
    though I ultimately disagreed with their conclusions. Seemed like they misunderstood how
    timed debounces work in modern frameworks, with the most recent value being emitted only at
    the end of the debounce timer.
*@
@code {
    private string _currentInput = string.Empty;
    private static readonly TimeSpan _debounceTime = TimeSpan.FromMilliseconds(500);
    private readonly Timer _debounceTimer = new Timer(_debounceTime);
    private readonly PeriodicTimer _periodicTimer = new PeriodicTimer(_debounceTime);
    private readonly List<BoMLevel> _boMLevels = [];
    private const string SEARCH_PLACEHOLDER = "Search by 'ID' or 'Part number'";

    [SupplyParameterFromForm]
    private BoMLevel? FormModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _debounceTimer.Elapsed += async (_, _) =>
        {
            // This is a little awkward since we're firing off an async task in a synchronous context.
            // We could store the task and check status if that's an issue.
            _debounceTimer.Stop();
            await InvokeAsync(async () =>
            {
                await Fetch(_currentInput);
                StateHasChanged();
            });
        };
        FormModel = new();
        await Fetch(string.Empty);
    }

    private SqliteConnection GetConnection() => new("Data Source=bill-of-material.db");

    private async Task SubmitRow()
    {
        using SqliteConnection connection = GetConnection();
        await connection.OpenAsync();
        using SqliteTransaction transaction = connection.BeginTransaction();
        using SqliteCommand command = connection.CreateCommand();
        command.CommandText = """
            INSERT INTO BoMLevel (PartNumber, Quantity, Unit, TotalCost, Vendor, Type, Cost, QuantityOnHand)
            VALUES (@partNumber, @quantity, @unit, @totalCost, @vendor, @type, @cost, @quantityOnHand)
            """;
        command.Parameters.AddWithValue("@partNumber", FormModel?.PartNumber);
        command.Parameters.AddWithValue("@quantity", FormModel?.Quantity);
        command.Parameters.AddWithValue("@unit", FormModel?.Unit);
        command.Parameters.AddWithValue("@totalCost", FormModel?.TotalCost);
        command.Parameters.AddWithValue("@vendor", FormModel?.Vendor);
        command.Parameters.AddWithValue("@type", FormModel?.Type);
        command.Parameters.AddWithValue("@cost", FormModel?.Cost);
        command.Parameters.AddWithValue("@quantityOnHand", FormModel?.QuantityOnHand);
        await command.ExecuteNonQueryAsync();
        await transaction.CommitAsync();
        await Fetch(_currentInput);
    }

    /// <summary>
    /// In a real world scenario soft delete might be preferred, but this seems pretty harmless for the PoC.
    /// </summary>
    private async Task DeleteRow(int primaryKey)
    {
        using SqliteConnection connection = GetConnection();
        await connection.OpenAsync();
        using SqliteTransaction transaction = connection.BeginTransaction();
        using SqliteCommand command = connection.CreateCommand();
        command.CommandText = """
            DELETE FROM BoMLevel
            WHERE PrimaryKey = @primaryKey
            """;
        command.Parameters.AddWithValue("@primaryKey", primaryKey);
        await command.ExecuteNonQueryAsync();
        await transaction.CommitAsync();
        await Fetch(_currentInput);
    }

    private void OnInput(ChangeEventArgs changeEventArgs)
    {
        if (!_debounceTimer.Enabled)
        {
            _debounceTimer.Start();
        }
        _currentInput = changeEventArgs.Value as string ?? string.Empty;
    }

    /// <summary>
    /// If I want to add paging to this, I can just use the PrimaryKey as a page marker to retrieve a
    /// set amount from. e.g., I could retrieve the next set of 25 from PrimaryKey = 37
    /// </summary>
    private async Task Fetch(string search)
    {
        _boMLevels.Clear();
        using SqliteConnection connection = GetConnection();
        await connection.OpenAsync();
        using SqliteCommand sqliteCommand = connection.CreateCommand();
        sqliteCommand.CommandText = """
            SELECT * FROM BoMLevel
            WHERE ReferenceKey IS NULL
            """;
        if (!string.IsNullOrWhiteSpace(search))
        {
            sqliteCommand.CommandText = $"""
            SELECT * FROM BoMLevel
            WHERE ReferenceKey IS NULL
            AND (PrimaryKey LIKE @search OR PartNumber LIKE @search)
            """;
            sqliteCommand.Parameters.AddWithValue("@search", $"%{search}%");
        }
        using SqliteDataReader dataReader = await sqliteCommand.ExecuteReaderAsync();
        while (await dataReader.ReadAsync())
        {
            _boMLevels.Add(await GetLevel(connection, dataReader));
        }
    }

    private async Task<BoMLevel> GetInnerLevel(SqliteConnection connection, int referenceKey)
    {
        using SqliteCommand command = connection.CreateCommand();
        command.CommandText = """
            SELECT * FROM BoMLevel
            WHERE PrimaryKey = @referenceKey
            LIMIT 1
            """;
        command.Parameters.AddWithValue("@referenceKey", referenceKey);
        using SqliteDataReader dataReader = await command.ExecuteReaderAsync();
        if (await dataReader.ReadAsync())
        {
            return await GetLevel(connection, dataReader);
        }
        // Choosing to not have this throw for now
        return new();
    }

    private async Task<BoMLevel> GetLevel(SqliteConnection connection, SqliteDataReader dataReader)
    {
        BoMLevel boMLevel = new();
        boMLevel.PrimaryKey = dataReader.GetInt32(0);
        boMLevel.PartNumber = dataReader.GetString(1);
        boMLevel.Quantity = dataReader.GetFloat(2);
        boMLevel.Unit = dataReader.GetString(3);
        boMLevel.TotalCost = dataReader.GetFloat(4);
        boMLevel.Vendor = dataReader.GetString(5);
        boMLevel.Type = dataReader.GetString(6);
        boMLevel.Cost = dataReader.GetFloat(7);
        boMLevel.QuantityOnHand = dataReader.GetFloat(8);
        if (!await dataReader.IsDBNullAsync(9))
            boMLevel.ReferenceKey = dataReader.GetInt32(9);
        if (boMLevel.ReferenceKey is not null)
        {
            boMLevel.InnerLevel = await GetInnerLevel(connection, boMLevel.ReferenceKey.Value);
        }
        return boMLevel;
    }
}
